{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
</head> 
<body>
    <div class='container'>


        <header class="header">  
            <img class='kartinka'



            src="{% static 'img/glavnaya.jpg' %}">

            <h1 class='text1'            > 
            Вечные цветы  
            </h1>
        </header> 

    </div>
    <div class='divtext'
    style='
    width: 100%; 
    height: 35px; 
    background-color: aquamarine;'> 

        <div 
        style=" 
        border-radius: 5px; 
        width:500px; 
        height: 30px ;
        margin-left: 400px;
        display:flex; 
        justify-content: space-between; 
        border: 2px black solid;
        font-family: Dancing Script, cursive;"> 
            
            <a href=''> О нас    </a>
            <a href=''> Новости  </a>
            <a href='{}'> Каталог  </a>
            <a href='{ % url katalog  %}'> Контакты </a>
            <a href=''> Новинки  </a>       

        </div>
    </div>

</body>
</html>